<a href="https://colab.research.google.com/github/ValentinBarco/UPSO-ML-BD/blob/main/An%C3%A1lisis_de_JSON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

# Aquí estamos usando la función read_json de pandas para cargar el archivo JSON directamente en un DataFrame llamado datos.
datos = pd.read_json('/run/media/guillex/SYSTEM/Buck UP/SEGUNDO CUATRIMESTRE/ELEMENTOS DE APRENDIZAJE DE MÁQUINA Y BIG DATA COM-A/Semana 18-09-2023 - 24-09-2023/Actividades y Trabajos Practicos/mediciones_complejas.json')


#Creamos una lista vacía llamada dfs que almacenará DataFrames temporales.
#Estos DataFrames temporales serán generados a partir de las mediciones de cada sensor.
dfs = []
#Iteramos por cada fila del DataFrame datos usando el método iterrows(). row será una Serie con la información de la fila actual.
for _, row in datos.iterrows():
    area_nombre = row['areas']['nombre'] #Entramos al nombre
    for sensor in row['areas']['sensores']: #Entramos a sensores
        df_temp = pd.DataFrame(sensor['mediciones']) #Cargamos Mediciones en df_temp
        df_temp['Area'] = area_nombre #Cargamos el area
        df_temp['Codigo'] = sensor['codigo']
        dfs.append(df_temp)

# Concatenar todos los DataFrames temporales
df = pd.concat(dfs, ignore_index=True)
df

           fecha  temperatura    humedad      presion        Area Codigo
0     2023-01-01    11.521528  85.936829   982.109189       Campo    001
1     2023-01-02    11.247076  69.455143  1018.509860       Campo    001
2     2023-01-03    12.190143  77.991074  1024.920119       Campo    001
3     2023-01-04    12.334912  55.027550   990.776303       Campo    001
4     2023-01-05    13.506057  67.175160   995.836229       Campo    001
...          ...          ...        ...          ...         ...    ...
2915  2023-12-27    15.090517  44.811801  1027.444489  Punta Alta    008
2916  2023-12-28    14.148662  47.317926  1007.906007  Punta Alta    008
2917  2023-12-29    17.253087  50.440682  1025.543210  Punta Alta    008
2918  2023-12-30    15.548730  79.762054   994.752519  Punta Alta    008
2919  2023-12-31    15.824607  85.545436  1011.064772  Punta Alta    008

[2920 rows x 6 columns]

## Metodo con normalizacion

In [4]:
# Uso de json_normalize para aplanar la estructura
df = pd.json_normalize(datos['areas'],
                       record_path=['sensores', 'mediciones'],
                       meta=[['sensores', 'codigo'], 'nombre'])

# Renombrando columnas para que sean más claras
df = df.rename(columns={
    "fecha": "Fecha",
    "temperatura": "Temperatura",
    "humedad": "Humedad",
    "presion": "Presion",
    "sensores.codigo": "Codigo",
    "nombre": "Area"
})

# Ver las primeras filas del dataframe
df

           Fecha  Temperatura    Humedad      Presion Codigo        Area
0     2023-01-01    11.521528  85.936829   982.109189    001       Campo
1     2023-01-02    11.247076  69.455143  1018.509860    001       Campo
2     2023-01-03    12.190143  77.991074  1024.920119    001       Campo
3     2023-01-04    12.334912  55.027550   990.776303    001       Campo
4     2023-01-05    13.506057  67.175160   995.836229    001       Campo
...          ...          ...        ...          ...    ...         ...
2915  2023-12-27    15.090517  44.811801  1027.444489    008  Punta Alta
2916  2023-12-28    14.148662  47.317926  1007.906007    008  Punta Alta
2917  2023-12-29    17.253087  50.440682  1025.543210    008  Punta Alta
2918  2023-12-30    15.548730  79.762054   994.752519    008  Punta Alta
2919  2023-12-31    15.824607  85.545436  1011.064772    008  Punta Alta

[2920 rows x 6 columns]